<div id="<%= dom_id illustration %>">
  <p>
    <strong>Illustrator name:</strong>
    <%= illustration.illustrator_name %>
  </p>

  <p>
    <strong>Shot at:</strong>
    <%= illustration.shot_at %>
  </p>

</div>
