<h1>Editing illustration</h1>

<%= render "form", illustration: @illustration %>

<br>

<div>
  <%= link_to "Show this illustration", @illustration %> |
  <%= link_to "Back to illustrations", illustrations_path %>
</div>
